.inputBox > p {
  font-size: 12px;
  font-family: 'Noto Sans KR';
  color: #AAAAAA;
  margin-bottom: 0%;
}
input[type="text"] {
  font-size: 16px;
  font-family: 'Noto Sans KR';
  color: black;
  border: none;
  border-bottom: 1.5px solid #AAAAAA;
  width: 100%;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  padding-left: 5px;
}
input[type="text"]:hover {
  border-bottom: 1.5px solid #34A853;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: 1.5px solid #34A853;
}
